<!DOCTYPE html>
<html>
<head>
   
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href='css/styles.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class="top-header">
            <title>Mercado Liebre</title>
            <div class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg"alt='Logo Mercado Liebre'style="max-width:100%;height:auto"></a>
            </div>


            <div class="form" action="#" method="GET">
                <form>
                <input class="input" placeholder='Buscar productos, marcas y más' name="buscar">
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            
            <br>
            <div id="intro"><i class="fas fa-hand-holding-usd"></i>Compra en coutas y sin tarjeta de credito</div>
            <br>
        </div>
        <nav class="links">
            <ul type='none'>
                <li><a href=https://www.mercadolibre.com.mx/ofertas>Ofertas</a></li>
                <li><a href=https://www.mercadolibre.com.mx/tiendas-oficiales#menu-user>Tiendas Oficiales</a></li>
                <li><a href=https://www.mercadolibre.com.mx/publicar/hub#menu-user>Vender</a></li>
                <li><a href= '#'>Ayuda</a></li>
                <div id="espacio"></div>
                <li><a href= '/register'>Crea tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href= '/login'>Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href= '#'>Mis compras<i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>
        <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner" style="max-width: 100%;height:auto;">
        </div>
    <main>
        <section>
                <h2 class="titulares">Basado en tu ultima visita</h2>
            <div class="productos1">
                <article class="producto">
                    <img src='/images/img-cafetera-moulinex.jpg' alt="Cafetera" style="max-width:100%;height:auto">
                    <div class="box-product">
                        <i class="fas fa-truck"></i>
                        <div class="precio">$1,200</div>
                        <div class="descuen">40% OFF</div>
                        <h3 class="descr">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="producto">
                    <img src='/images/img-macbook-pro-2019.jpg' alt="Macbook" style="max-width:100%;height:auto">
                    <div class="box-product">
                        <i class="fas fa-truck"></i>
                        <div class="precio">$35,000</div>
                        <div class="descuen">20% OFF</div>
                        <h3 class="descr">MackBook Pro 2019</h3>
                    </div>
                </article>
                <article class="producto">
                    <img src='/images/img-samsung-galaxy-s10.jpg' alt="S10" style="max-width:100%;height:auto">
                    <div class="box-product">
                        <i class="fas fa-truck"></i>
                        <div class="precio">$10,499</div>
                        <div class="descuen">10% OFF</div>
                        <h3 class="descr">Samsung Galaxy S10</h3>
                    </div>  
                </article>
                <article class="producto">
                    <img src='/images/img-tv-samsung-smart.jpg' alt="TV" style="max-width:100%;height:auto">
                    <div class="box-product">
                        <i class="fas fa-truck"></i>
                         <div class="precio">$13,969</div>
                        <div class="descuen">5% OFF</div>
                        <h3 class="descr">SmartTv Samsung 43''</h3>
                    </div>
                </article>
            </div>
        </section>
        <section>
                <h2 class="titulares">Seccion de Ofertas</h2>
            <div class="productos2">
                <article>
                    <img src='/images/img-cafetera-moulinex.jpg' alt="Cafetera" style="max-width:100%;height:auto">
                    <div class="box-product">
                        <i class="fas fa-truck"></i>
                        <div class="precio">$1,200</div>
                        <div class="descuen">40% OFF</div>
                        <h3 class="descr">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src='/images/img-macbook-pro-2019.jpg' alt="Macbook"style="max-width:100%;height:auto">
                    <div class="box-product">
                        <i class="fas fa-truck"></i>
                        <div class="precio">$35,000</div>
                        <div class="descuen">20% OFF</div>
                        <h3 class="descr">MackBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src='/images/img-samsung-galaxy-s10.jpg' alt="S10"style="max-width:100%;height:auto">
                    <div class="box-product">
                        <i class="fas fa-truck"></i>
                        <div class="precio">$10,499</div>
                        <div class="descuen">10% OFF</div>
                        <h3 class="descr">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <img src='/images/img-tv-samsung-smart.jpg' alt="TV" style="max-width:100%;height:auto">
                    <div class="box-product">
                        <i class="fas fa-truck"></i>
                        <div class="precio">$13,969</div>
                        <div class="descuen">5% OFF</div>
                        <h3 class="descr">SmartTv Samsung 43''</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>   

    <footer>
        <div class="contenedor-footer">
        <section class="footer-block">
            <div class="credit-card">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3><ul type='none'><li>Pagá con tarjeta o en efectivo</li></ul></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer-block">
            <div class="gift">
                <i class="fas fa-gift"></i>
            </div>
            <h3><ul type='none'><li>Envio gratis desde $2.500</li></ul></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p> 
        </section>
        <section class="footer-block">
            <div class="security">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3><ul type='none'><li>Seguridad, de principio a fin</li></ul></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p> 
        </section>
        </div>
        <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
        
    </footer>


</body>


</html>